@model IEnumerable<OnlineStore.Models.Company>

<div class="col-12">
    <h5 class="text-info"> Company List ( د شرکتونو لیست)</h5>


    @{ var count = 1;}
    <table id="tbl" class="table table-striped table-bordered" width="100%">
        <thead class="thead-light">
            <tr>
                <th>
                    Serial
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>  <a onclick="showInPopup('@Url.Action("AddOrEdit","Company",null,Context.Request.Scheme)','New Company')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Company</a></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*<partial name="_buttonPartial" model="@item.Id" />*@
                        <div>
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","Company",new {id=item.Id},Context.Request.Scheme)','Update Company')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

