@model IEnumerable<OnlineStore.Models.Color>

@{
    ViewData["Title"] = "رنگونه";
}



<div class="row" id="view-all1" >
    @await Html.PartialAsync("_ViewAll", Model)
</div>
@section scripts{
    <script src="~/lib/Alertify/alertify.js"></script>

    <script type="text/javascript">
    @*$(function () {
        var Msg = '';
        if ('@TempData["save"]')
            Msg = '@TempData["save"]';
        if ('@TempData["edit"]')
            Msg = '@TempData["edit"]';
        if ('@TempData["delete"]')
            Msg = '@TempData["delete"]';
        if (Msg) {
            alertify.success(Msg);
        }


    });*@
    </script>
} 