@model IEnumerable<OnlineStore.Models.ProductOrOrder>

<div class="col-12">
    <h4 class="text-info">List Of Purchase & Sell Order ( د خریداری او فروشاتو لیست) </h4>

    @{ var count = 1;}
    <table id="tbl" class="table table-bordered table-striped" width="100%">
        <thead class="thead-light">
            <tr>
                <th>
                    Serial
                </th>
                <th>
                    Color
                </th>
                <th>
                    Bill #
                </th>
                <th>
                    In / Out
                </th>
                <th>
                    Quantity
                </th>
                <th>  <a id="lnkAddOrder" name="add" onclick="showInPopup('@Url.Action("orderAddOrEdit","ProductOrOrder",null)','New Purchase/Sell Order')" class="btn btn-success lnkAdd text-white"><i class="fas fa-random"></i> Purchase / Sell Order</a></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillNumber)
                </td>
             
                <td>
                    @(item.InOut==1?"Purchase":"Sell")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @*<partial name="_buttonPartial" model="@item.Id" />*@
                    <div>
                       
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <a onclick="showInPopup('@Url.Action("orderAddOrEdit","ProductOrOrder",new {id=item.Id})','Update Order')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                            <input type="hidden" asp-for="@item.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
                count++;
            }
        </tbody>
    </table>
</div>
